* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: white;
    --bg-url: url(bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255,255,255,0.05);
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(225,255,255,0.2);
    --switch-bg-url: url(moon-stars.svg);

}
.Light{
    --text-color: black;
    --bg-url: url(bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0,0,0,0.2);
    --highlight-color: rgba(0,0,0,0.1);
    --switch-bg-url: url(sun.svg);


   
}
body {
    display:block;
    background: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
body {
    font-family: sans-serif;
    color: var(--text-color)
}
#container{
    display: block;
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
    
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
    cursor:pointer;
}
#switch button{
    display: block;
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;  
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    transition: left 0.4s;
    cursor:pointer
}
#switch button:hover{
    outline: 8px solid var(--highlight-color);
}
.Light #switch button{
    left: 50%;
}
#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;

}
#profile {
    text-align: center;
}


#profile img{
    width: 112px;
}
#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    ;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}
ul li a {
color: var(--text-color);
display: flex;
align-items: center;
justify-content: center;
padding: 16px 24px;
background: var(--surface-color);
border: 1px solid var(--stroke-color);
border-radius: 8px;
text-decoration: none;
font-weight: 500;
transition:background 0.2s;
cursor: pointer;

}
ul li a:hover {
background: var(--surface-color-hover);
border: 1px solid var(--text-color);
}
#redes {
    display: flex;
    gap: 16px;
    justify-content: center;

    padding: 24px 0;

    font-size: 24px;
}
#redes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    color: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}
#redes a:hover{
    background: var(--highlight-color);
}
footer {
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}
footer a{
    color: var(--text-color);
    cursor:pointer 
    ;
}
@media (min-width:600px) {
    :root {
        --bg-url: url(bg-desktop.jpg);}
    .Light{
   --bg-url: url(bg-desktop-light.jpg);
}
}
@keyframes slide-in {
    from{
        left: 0;
    }
    to {
        left: 50%;
    }
}
@keyframes slide-back{
    from{
        left: 50%;
    }
    to {
        left: 0;
    }
}
